<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyiaUENeEBExX6KMyw_kM4k3U75lIBdL4</string>
	<key>GCM_SENDER_ID</key>
	<string>165933046450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.kys1kh6n9dau.Roadify</string>
	<key>PROJECT_ID</key>
	<string>roadify-50d38</string>
	<key>STORAGE_BUCKET</key>
	<string>roadify-50d38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165933046450:ios:dc42af09a45d9f400a07ab</string>
</dict>
</plist>